@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    @include m.tablet { 
        flex-direction: row;
    }

    &__link {
        font-size: .875rem;
        display: flex;
        align-items: center;

        &--crear {
            font-weight: 700;
            color: v.$primary;

            @include m.tablet { 
                &::after {
                    content: '';
                    display: inline-block;
                    height: 2.5rem;
                    border-right: 2px solid v.$greyLight;   
                    margin: 0 0 0 1.25rem;
                }
            }
        }
    }
}